.root {
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI";
}

#cos{
 -fx-background-color: #eee;
}

#profilowe{
    -fx-image: url("https://m.media-amazon.com/images/I/71nGkWDLptL._AC_UF894,1000_QL80_.jpg");
}

#menu .label {
    -fx-text-fill: #FFCA7A;
    -fx-cursor: hand;
}

#menu .label:hover, #logIn:hover{
    -fx-scale-x: 1.1;
}

.zaznaczone{
    -fx-text-fill: #F7A325 !important;
    -fx-font-family: "Segoe UI Black";
}

#logout{
    -fx-text-fill: #F56038 !important;
}

#logout:hover{
    -fx-font-weight: 700;
}

#menu{
    -fx-background-color: #0A2F35;
}

#nothingCreate{
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: #0A2F35;
     -fx-cursor: hand;
}

#nothingLabel{
    -fx-text-fill: #12492F;
    -fx-opacity: 0.57;

}

#logIn{
    -fx-text-fill: #F7A325;
    -fx-cursor: hand;
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 24px;
}

#loginHBox TextField, #loginHBox PasswordField{
    -fx-padding: 15px 30px 15px 30px;
    -fx-border-color: #0A2F35;
    -fx-border-width: 4px;
}

#TitleKalendar{
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: #12492F;
    -fx-font-size: 36px;
}

#grdsd .label {
    -fx-text-fill: #12492F;
}

.kalendarzTitle {
    -fx-border-color: #0A2F35;
    -fx-border-width: 5px;
    -fx-background-color: #eee;
}

#edytujZestawSave, #edytujZestawDelete{
    -fx-background-color: #0A2F35;
    -fx-text-fill: #F56038;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

#edytujZestawSave:hover, #edytujZestawDelete:hover{
    -fx-background-color: #F56038;
    -fx-text-fill: #0A2F35;
}

#edytujZestaw__name{
    -fx-font-size: 36px;
    -fx-font-weight: 300;
    -fx-text-fill: #12492F;
    -fx-letter-spacing: 10px;
}

#edytujZestaw__hBox{
    -fx-background-color: #0A2F35;
}

#edytujZestaw__hBox .text-field{
    -fx-background-color: #0ff0;
    -fx-border-color: #F7A325;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-prompt-text-fill: #FFCA7A88;
    -fx-text-fill: #FFCA7ACC;
}

#edytujZestaw__hBox .label{
    -fx-font-weight: 900;
    -fx-text-fill: #F7A325;
    -fx-cursor: hand;
}

#edytujZestaw__hBox .label:hover{
    -fx-text-fill: #F56038;
}

#edytujZestawHBoxTools .label, #edytujZestawHBoxTools .check-box{
    -fx-text-fill: #12492F;
}

#edytujZestawHBoxTools .check-box .box{
    -fx-background-color: #eee;
    -fx-border-width: 2px;
    -fx-border-color: #12492F;
    -fx-border-radius: 2px;
    -fx-font-size: 8px;
}

#edytujZestawHBoxTools .check-box:selected .mark{
    -fx-background-color: #0A2F35;
}

#table {
      -fx-background-color: #eee;
}

#table .table-column{
    -fx-background-color: #eee;
    -fx-border-width:  0px 0px 5px 0px;
    -fx-border-color: #0A2F35;
}

#table .column-header-background .label{
     -fx-text-fill: #12492Fdd;
     -fx-padding: 15px 0px 15px 0px;

}

#table .table-cell {
    -fx-padding: 15px 0px 15px 0px;
    -fx-text-fill: #12492F;
    -fx-border-width: 0px;
    -fx-alignment: center;
}

#table .virtual-flow .scroll-bar:vertical{
    -fx-font-size: 7px;
}

#edytujZestaw__scroll{
    -fx-background-color: #eee;
}

#zestaw_snz{
    -fx-background-color: #0A2F35;
    -fx-text-fill: #F56038;
    -fx-font-weight: 900;
    -fx-cursor: hand;
}

#zestaw_snz:hover{
    -fx-background-color: #F56038;
    -fx-text-fill: #0A2F35;
}

.zestawBox{
    -fx-border-width: 5px;
    -fx-border-color: #0A2F35;
    -fx-text-fill: #12492F;
    -fx-cursor: hand;
}

.zestawBox .label{
    -fx-text-fill: #12492F;
}

.zestawBox:hover{
    -fx-border-color: #eee;
    -fx-text-fill: #eee;
    -fx-background-color: #0A2F35;
}

.zestawBox:hover .label{
   -fx-text-fill: #F7A325;
}

.zestawBox_bold{
    -fx-font-weight: 700;
    -fx-font-size: 16px;
}

.scroll-bar:vertical{
    -fx-background-color: #0A2F35ee;
    -fx-padding: 0px 3px 0px 2px;
    -fx-background-radius: 2px;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: #FFCA7A;
}

.scroll-bar:vertical .increment-button{
    -fx-background-color: transparent;
}

.scroll-bar:vertical .decrement-button{
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-arrow{
    -fx-background-color: #eee;
    -fx-shape: " ";
}

.scroll-bar:vertical .decrement-arrow{
    -fx-background-color: #eee;
    -fx-shape: " ";
}

#zestawy_hboTop .text-field{
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: #0A2F35;
    -fx-prompt-text-fill: #12492F88;
    -fx-text-fill: #12492F;
    -fx-background-color: #eee;
}

#zestawy_hboSortuj .choice-box{
    -fx-background-color: #0A2F35;

}

#zestawy_hboSortuj .choice-box .arrow {
    -fx-background-color: #FFCA7A;
}

#zestawy_hboSortuj .choice-box .label {
      -fx-text-fill: #FFCA7A;
}

#zestawy_hboSortuj .choice-box .context-menu {
      -fx-background-color: #0A2F35;
}

