.root {
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI";
}

#cos{
 -fx-background-color: #eee;
}

#scrollFocuse:focused{
    -fx-focus-color: #0A2F35;
}

#profilowe{
    -fx-image: url("https://m.media-amazon.com/images/I/71nGkWDLptL._AC_UF894,1000_QL80_.jpg");
}

#menu .label {
    -fx-text-fill: #FFCA7A;
    -fx-cursor: hand;
}

#menu .label:hover{
    -fx-scale-x: 1.1;
}

.zaznaczone{
    -fx-text-fill: #F7A325 !important;
    -fx-font-family: "Segoe UI Black";
}

#logout{
    -fx-text-fill: #F56038 !important;
}

#logout:hover{
    -fx-font-weight: 700;
}

#menu{
    -fx-background-color: #0A2F35;
}

#nothingCreate{
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: #0A2F35;
     -fx-cursor: hand;
}

#nothingLabel{
    -fx-text-fill: #12492F;
    -fx-opacity: 0.57;

}

#logIn{
    -fx-text-fill: #F56038cc;
    -fx-cursor: hand;
    -fx-font-family: "Segoe UI Black";
    -fx-font-size: 24px;
}

#logIn:hover{
    -fx-text-fill: #F56038;
}

#tytul_login{
    -fx-font-size: 40px;
    -fx-font-weight: 900;
    -fx-text-fill: #F7A325;
}

#podtytol_login{
    -fx-text-fill: #FFCA7A77;
}

#zajestroj_login{
        -fx-font-family: "Segoe UI Black";
        -fx-font-size: 18px;
        -fx-text-fill: #F5603877;
        -fx-cursor: hand;
}

#zajestroj_login:hover{
    -fx-text-fill: #F56038;
}

#loginHBox{
    -fx-background-color: #0A2F3500 !important;
}

#loginHBox TextField, #loginHBox PasswordField{
    -fx-padding: 30px 50px 20px 40px;
    -fx-background-color: #0A2F35;
    -fx-text-fill: #FFCA7A;
    -fx-prompt-text-fill: #FFCA7A55;
    -fx-border-color: #F7A325;
    -fx-border-width: 0px 0px 5px 0px;
}

#titleKalendar{
    -fx-font-family: "Segoe UI Black";
    -fx-text-fill: #12492F;
    -fx-font-size: 36px;
}

#grdsd .label {
    -fx-text-fill: #12492F;
}

.kalendarzTitle {
    -fx-border-color: #0A2F35;
    -fx-border-width: 5px;
    -fx-background-color: #eee;
}

#edytujZestawSave, #edytujZestawDelete, #edytujZestawPlay{
    -fx-background-color: #0A2F35;
    -fx-text-fill: #F56038;
    -fx-font-weight: 700;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

#edytujZestawSave:hover, #edytujZestawDelete:hover, #edytujZestawPlay:hover{
    -fx-background-color: #F56038;
    -fx-text-fill: #0A2F35;
}

#edytujZestaw__name{
    -fx-font-size: 24px;
    -fx-font-weight: 300;
    -fx-text-fill: #12492F;
    -fx-letter-spacing: 10px;
    -fx-border-width: 0px;
    -fx-background-color: #eee;
    -fx-padding: 0px;
}

#edytujZestaw__hBox{
    -fx-background-color: #0A2F35;
}

#edytujZestaw__hBox .text-field{
    -fx-background-color: #0ff0;
    -fx-border-color: #F7A325;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-prompt-text-fill: #FFCA7A88;
    -fx-text-fill: #FFCA7ACC;
}

#edytujZestaw__hBox .label{
    -fx-font-weight: 900;
    -fx-text-fill: #F7A325;
    -fx-cursor: hand;
}

#edytujZestaw__hBox .label:hover{
    -fx-text-fill: #F56038;
}

#edytujZestawHBoxTools .label, #edytujZestawHBoxTools .check-box{
    -fx-text-fill: #12492F;
}

#edytujZestawHBoxTools .check-box .box{
    -fx-background-color: #eee;
    -fx-border-width: 2px;
    -fx-border-color: #12492F;
    -fx-border-radius: 2px;
    -fx-font-size: 8px;
}

#edytujZestawHBoxTools .check-box:selected .mark{
    -fx-background-color: #0A2F35;
}

#table {
      -fx-background-color: #eee;
}


#table .table-column{
    /*-fx-background-color: #eee;*/
    -fx-border-width:  0px 0px 5px 0px;
    -fx-border-color: #0A2F35;
}

#table .column-header{
    -fx-background-color: #eee;
}

#table .column-header-background .label{
     -fx-text-fill: #12492Fdd;
     -fx-padding: 15px 0px 15px 0px;
}


#table .table-cell {
    -fx-padding: 15px 0px 15px 0px;
    -fx-text-fill: #12492F;
    -fx-border-width: 0px;
    -fx-alignment: center;
}

#table .table-row-cell{
        -fx-background-color: #eee;
}

#table .table-row-cell:hover{
    -fx-background-color: #0A2F3533;
}

#table .table-row-cell:selected{
    -fx-border-width: 2px 0px 2px 0px;
    -fx-border-color: #F7A325;
    -fx-font-weight: 700;

}

#table .virtual-flow .scroll-bar:vertical{
    -fx-font-size: 7px;
}

#edytujZestaw__scroll{
    -fx-background-color: #eee;
}

#zestaw_snz, #wroc_wynik{
    -fx-background-color: #0A2F35;
    -fx-text-fill: #F56038;
    -fx-font-weight: 900;
    -fx-cursor: hand;
}

#zestaw_snz:hover, #wroc_wynik:hover{
    -fx-background-color: #F56038;
    -fx-text-fill: #0A2F35;
}

.zestawBox{
    -fx-border-width: 5px;
    -fx-border-color: #0A2F35;
    -fx-text-fill: #12492F;
    -fx-cursor: hand;
}

.zestawBox .label{
    -fx-text-fill: #12492F;
}

.zestawBox:hover{
    -fx-border-color: #eee;
    -fx-text-fill: #eee;
    -fx-background-color: #0A2F35;
}

.zestawBox:hover .label{
   -fx-text-fill: #F7A325;
}

.zestawBox_bold{
    -fx-font-weight: 700;
    -fx-font-size: 16px;
}

.scroll-bar:vertical{
    -fx-background-color: #0A2F35ee;
    -fx-padding: 0px 3px 0px 2px;
    -fx-background-radius: 2px;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: #FFCA7A;
}

.scroll-bar:vertical .increment-button{
    -fx-background-color: transparent;
}

.scroll-bar:vertical .decrement-button{
    -fx-background-color: transparent;
}

.scroll-bar:vertical .increment-arrow{
    -fx-background-color: #eee;
    -fx-shape: " ";
}

.scroll-bar:vertical .decrement-arrow{
    -fx-background-color: #eee;
    -fx-shape: " ";
}

#zestawy_hboTop .text-field{
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: #0A2F35;
    -fx-prompt-text-fill: #12492F88;
    -fx-text-fill: #12492F;
    -fx-background-color: #eee;
}

#zestawy_hboSortuj .choice-box{
    -fx-background-color: #0A2F35;

}

#zestawy_hboSortuj .choice-box .arrow {
    -fx-background-color: #FFCA7A;
}

#zestawy_hboSortuj .choice-box .label {
      -fx-text-fill: #FFCA7A;
}

#zestawy_hboSortuj .choice-box .context-menu {
      -fx-background-color: #0A2F35;
}

.progress-bar .track{
    -fx-background-color: #eee;
    -fx-border-width: 4px;
    -fx-border-color: #0A2F35;
}


.progress-bar .bar{
    -fx-background-color: #12492F;
}

#lista_gra {
    -fx-border-width: 3px 0px 3px 0px;
    -fx-border-color: #0A2F35ee;
    -fx-padding: 15px 0px 55px 0px;
}

.statystyka_title{
    -fx-font-weight: 700;
    -fx-text-fill: #0A2F35;
}

.statytyka_normal, .statytyka_good{
    -fx-text-fill: #12492F;
}

.statytyka_negative{
    -fx-text-fill: #F56038;
}

#slowko_gra{
    -fx-font-weight: 700;
    -fx-font-size: 18px;
      -fx-text-fill: #0A2F35;
}

#wpiszSlowko_gra{
    -fx-border-width: 0px;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-border-color: #0A2F35;
    -fx-background-color: #eee;
    -fx-prompt-text-fill: #12492F99;
    -fx-text-fill: #12492F;
    -fx-font-weight: 900;
    -fx-padding: 10px 20px 10px 20px;
}

#wpiszSlowko_gra:focused{
    -fx-border-color: #F7A325;
}

#resultLabel{
    -fx-font-size: 24px;
    -fx-font-weight: 700;
    -fx-text-fill: #12492F;
    -fx-cursor: hand;
}

#check_gra:hover{
      -fx-text-fill: #0A2F35;
}


#rezultat{
    -fx-font-size: 72px;
    -fx-font-weight: 900;
    -fx-text-fill: #0A2F35;
}

#titleTrener, #gratulacje{
    -fx-text-fill: #0A2F35;
    -fx-font-size: 36px;
}

#spis_trener, #gratulacjeOpis{
    -fx-text-fill: #12492F;
    -fx-font-size: 12px;
    -fx-font-weight: 200;
}

#przyciskTrener, #showMore_sg{
    -fx-padding: 10px 30px 10px 30px;
    -fx-background-color: #0A2F35;
    -fx-text-fill: #F56038;
    -fx-font-size: 24px;
    -fx-font-weight: 900;
    -fx-cursor: hand;
}

.slupek{
    -fx-border-color: #F7A325;
    -fx-border-width: 3px;
    -fx-background-color: #FFCA7A;
}

.procent_trener{
    -fx-font-size: 24px;
    -fx-text-fill: #12492F;
}

.data_trener{
    -fx-padding: 0px 0px 40px 0px;
}

.data_trener2, .data_trener{
    -fx-font-size: 12px;
    -fx-text-fill: #12492F99;
}

#przyciskTrener:hover, #showMore_sg:hover{
    -fx-background-color: #F56038;
    -fx-text-fill: #0A2F35;
}

/*style="-fx-background-image: url(&quot;car2.png&quot;);"
*/

#panel1{
    -fx-background-image: url("assets/tlo1.4.png");
}

#panel2{
    -fx-background-image: url("assets/tlo2.png");
}

#wynikSg{
    -fx-font-size: 36px;
    -fx-font-weight: 900;
    -fx-text-fill: #F56038;
}

#showMore_sg{
    -fx-font-size: 12px;
}

#lawa_sg{
    -fx-background-image: url("assets/tlo3.3.png");
}

#wybraneSlowko{
      -fx-font-size: 36px;
      -fx-font-weight: 900;
      -fx-text-fill: #FFCA7A;
}

#save_sg{
     -fx-font-size: 12px;
     -fx-font-weight: 900;
     -fx-text-fill: #F7A325;
     -fx-cursor:hand;
}

#save_sg:hover{
    -fx-text-fill: #F56038;
}

#titleSlupkiSg{
    -fx-font-size: 28px;
    -fx-font-weight: 700;
    -fx-text-fill: #12492F;
}

.miejsca{
    -fx-padding: 20px 80px 20px 80px;
    -fx-background-color: #0A2F35;
    -fx-text-fill: #F7A325;
    -fx-font-size: 36px;
    -fx-cursor: hand;
}

.miejsca:hover{
    -fx-background-color: #F7A325;
    -fx-text-fill: #0A2F35;
}


.slowka_znane_sg{
    -fx-font-size: 24px;
    -fx-text-fill: #12492F;
}

.kalendarzPrzyciski{
    -fx-font-weight: 700;
    -fx-font-size: 24px;
    -fx-cursor: hand;
    -fx-text-fill: #12492F;
}


.kalendarzPrzyciski:hover{
    -fx-text-fill: #0A2F35;
}
